#Ensure every text file uses lf
*              text=auto
*.markdown     text eol=lf diff whitespace=blank-at-eol,blank-at-eof
*.md           text eol=lf diff whitespace=blank-at-eol,blank-at-eof
*.js           text eol=lf diff whitespace=blank-at-eol,blank-at-eof,space-before-tab,tab-in-indent,tabwidth=2
*.css          text eol=lf diff=css whitespace=blank-at-eol,blank-at-eof,space-before-tab,tab-in-indent,tabwidth=4
*.json         text eol=lf diff whitespace=blank-at-eol,blank-at-eof,space-before-tab,tab-in-indent,tabwidth=2
*.lock         text eol=lf diff whitespace=blank-at-eol,blank-at-eof,space-before-tab,tab-in-indent,tabwidth=2
*.html         text eol=lf diff=html
*.php          text eol=lf diff=php whitespace=blank-at-eol,blank-at-eof,space-before-tab,tab-in-indent,tabwidth=4
*.yml          text eol=lf diff whitespace=blank-at-eol,blank-at-eof,space-before-tab,tab-in-indent,tabwidth=2
*.xml          text eol=lf diff
*.dist         text eol=lf diff
*.txt          text eol=lf diff
*.ini          text eol=lf diff
*.sh           text eol=lf diff
*.tmp          text eol=lf diff
/.*            export-ignore
.editorconfig  export-ignore text eol=lf diff
.gitattributes export-ignore text eol=lf diff
.gitignore     export-ignore text eol=lf diff
.php_cs        export-ignore text eol=lf diff=php whitespace=blank-at-eol,blank-at-eof,space-before-tab,tab-in-indent,tabwidth=4
circle.yml     export-ignore text eol=lf diff whitespace=blank-at-eol,blank-at-eof,space-before-tab,tab-in-indent,tabwidth=2
phpunit.xml    export-ignore text eol=lf diff
/tests         export-ignore

*.zip          -text binary
