*~
.settings
.buildpath
.project
.idea/
vendor/
composer.phar
composer.lock
error.log
ergebnis.txt
result.txt
resources/*
results/*
sources/*
tests/cache/
tests/create-tests.php
uas-*.yaml
uas-*.txt
browscap-issue-*.php
issue-*.php
*.diff
cache/cache/
log/*.log
