parameters:
  level: max
  paths:
    - src
  autoload_files:
    - %currentWorkingDirectory%/vendor/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
  includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/pepakriz/phpstan-exception-rules/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/localheinz/phpstan-rules/rules.neon
  parameters:
    exceptionRules:
      reportUnusedCatchesOfUncheckedExceptions: false
      uncheckedExceptions: []
  excludes_analyse:
    - */tests/*/data/*
  ignoreErrors:
    - '~expects string,~'
    - '~is not subtype of Throwable~'    
#    - '~of function array_multisort is passed by reference, so it expects variables only~'
