# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

# file-version: 1.0

name: "Continuous Integration"

on:
  - pull_request
  - push

permissions:
  contents: read
  security-events: read
  issues: read
  pull-requests: read
  checks: read

concurrency:
  group: "${{ github.event_name }}-${{ github.workflow }}-${{ github.head_ref || github.run_id }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  validate:
    name: "Validate Project"

    uses: "mimmi20/ci/.github/workflows/validate.yml@8.4"
    with:
      extensions: "bcmath, ctype, curl, dom, iconv, intl, mbstring, pdo, simplexml, tokenizer, xml, xmlwriter"
      ini-values: "opcache.enable=1, opcache.fast_shutdown=0, zend.assertions=1, assert.exception=On, intl.default_locale=de, intl.use_exceptions=1, zend.exception_ignore_args=0"
      composer-options: "--optimize-autoloader --prefer-dist --prefer-stable -v"
      skip-validate-composer: false
      skip-validate-yaml: false
      skip-validate-md: false
      skip-phplint: false
      skip-check-composer: false
      skip-ec-checker: false
      dependency-analyser-options: ""

  install:
    name: "Install Project"

    needs: "validate"

    uses: "mimmi20/ci/.github/workflows/install.yml@8.4"
    with:
      extensions: "bcmath, ctype, curl, dom, iconv, intl, mbstring, pdo, simplexml, tokenizer, xml, xmlwriter"
      ini-values: "opcache.enable=1, opcache.fast_shutdown=0, zend.assertions=1, assert.exception=On, intl.default_locale=de, intl.use_exceptions=1, zend.exception_ignore_args=0"
      composer-options: "--optimize-autoloader --prefer-dist --prefer-stable -v"
      skip-php-install: false
      skip-npm-install: true
      skip-nasm-install: true
      skip-libimagequant-install: true
      skip-librabbitmq-install: true
      skip-libgif-install: true

  analytics:
    name: "Project Analysis"

    permissions:
      security-events: write
      id-token: write
      contents: read
      issues: read
      pull-requests: read
      checks: read

    needs: "install"

    uses: "mimmi20/ci/.github/workflows/analytics.yml@8.4"
    with:
      extensions: "bcmath, ctype, curl, dom, iconv, intl, mbstring, pdo, simplexml, tokenizer, xml, xmlwriter"
      ini-values: "opcache.enable=1, opcache.fast_shutdown=0, zend.assertions=1, assert.exception=On, intl.default_locale=de, intl.use_exceptions=1, zend.exception_ignore_args=0"
      composer-options: "--optimize-autoloader --prefer-dist --prefer-stable -v"
      skip-php-cs-fixer: true
      skip-phpcs: false
      skip-phpstan: false
      skip-rector: false
      skip-eslint: true
      skip-stylelint: true
      skip-prettier: true
      skip-psalm: true
      skip-nasm-install: true
      skip-libimagequant-install: true
      skip-librabbitmq-install: true
      skip-libgif-install: true
      skip-oxlint: true
      phpcs-options: ""
